<div id="lg-repeater" class="repeater repeater-2 clearfix" style="position: relative">
  <p id="address" class="header header-2">PATIENT ADDRESS</p>
  <p id="panelheader" class="header header-3">EXAMPLE</p>
  <p id="lastname" class="name name-1">Last Name</p>
  <p id="firstname" class="name name-2">First Name</p>
  <p id="email" class="text text-1">email.address@server.com</p>
  <p id="phone" class="text text-2">(999) 888-0000</p>
  <p id="contact" class="header header-7">CONTACT INFORMATION</p>
  <p id="citystate" class="text text-3">Anywhere, NC 27000</p>
  <p id="street" class="text text-4">1313 Mockingbird Lane</p>
  <button onClick="window.location='edit.html';" id="edit" class="_button _button-3">EDIT</button>
  <div id="lg-placeholder" class="panel panel-2"></div>
  <div id="panelheader" class="panel panel-5"></div>
  <div id="panelbkg" class="panel panel-8"></div>
</div>

