<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Patient Information</h3></div>
  <div class="panel-body">
    <div class="media">
      <div class="col-xs-4" style="padding: 0">
        <a href="#">
          <img class="media-object"
               [src]="patient.imageUrl"
               data-holder-rendered="true"
               style="width: 100%; height: auto;"></a>
      </div>
      <div class="col-xs-8">
        <div class="media-body">
          <h4 class="media-heading">{{patient.lastName}},{{patient.firstName}} </h4>
          <dl>
            <dt>Address</dt>
            <dd>{{patient.addressLine1}},<br>
              {{patient.city}},{{patient.state}},{{patient.zip}}
            </dd>
            <dt>Contact Information</dt>
            <dd>{{patient.phone}}</dd>
            <dd>{{patient.email}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default btn-sm _button-5">EDIT</button>
  </div>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Physician Information</h3></div>
  <div class="panel-body">
    <div class="media">
      <div class="col-xs-4" style="padding: 0">
        <a href="#">
          <img class="media-object"
               src="images/doctor-01.svg"
               style="width: 100%; height: auto;"></a>
      </div>
      <div class="col-xs-8">
        <div class="media-body">
          <h4 class="media-heading">{{physician.lastName}},{{physician.firstName}} </h4>
          <dl>
            <dt>Address</dt>
            <dd>{{physician.addressLine1}},<br>
              {{physician.city}},{{physician.state}},{{physician.zip}}
            </dd>
            <dt>Contact Information</dt>
            <dd>{{physician.phone}}</dd>
            <dd>{{physician.email}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Prescription List</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Dosage</th>
      <th>Refill(Y/N)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of prescriptions; let i=index">
      <td>{{p.name}}</td>
      <td>{{p.dosage}}</td>
      <td>{{p.refill}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Doctor Visit List</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Physician Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of visitations; let i=index">
      <td>{{p.date}}</td>
      <td>{{p.doctor}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Invoices</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Due Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of invoices; let i=index">
      <td>{{p.dueDate}}</td>
      <td>{{p.amount}}</td>
    </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary repeater-3">
  <div class="panel-heading"><h3 class="panel-title">Invoices</h3></div>
  <table class="table">
    <thead>
    <tr>
      <th>Test</th>
      <th>Result</th>
      <th>Level</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of labResults; let i=index">
      <td>{{p.test}}</td>
      <td>{{p.result}}</td>
      <td>{{p.level}}</td>
    </tr>
    </tbody>
  </table>
</div>

